In [1]:
# The goal is based on the selection of the CPC (excel file classification CPC) from the user
# (can be 1, can be multiple),we would like to determine the ISIC/SSIC/NACE code of the company.
# In terms of training data, the only data we have is from ecoinvent for a 1 to 1 (lcia csv file),
# Potentially, in reverse, based on the ISIC of the company, we want to use AI to guide the user
# what could the CPC code could be for the products that they modelled.

In [2]:
import pandas as pd

In [3]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))

if module_path not in sys.path:
    sys.path.append(module_path)

In [4]:
from utils.inference.resource.io import load_resource_inference
from utils.resource import ResourceStandard


CPC_df = load_resource_inference()[ResourceStandard.CPC]
CPC_df[CPC_df.Level == "1"]

     Level Parent                                        Description
Code
0        1                Agriculture, forestry and fishery products
1        1             Ores and minerals; electricity, gas and water
2        1         Food products, beverages and tobacco; textiles...
3        1         Other transportable goods, except metal produc...
4        1                   Metal products, machinery and equipment
5        1                   Constructions and construction services
6        1         Distributive trade services; accommodation, fo...
7        1         Financial and related services; real estate se...
8        1                          Business and production services
9        1                   Community, social and personal services

In [5]:
from utils.lcia.io import load_lcia

LCIA_df = load_lcia()

In [6]:
LCIA_df.head()

,Company description,ISIC code,Product name,Product description,CPC code
0,"treatment of sulfidic tailings, from cinnabar ...",3822,"sulfidic tailings, from cinnabar mine operation","'sulfidic tailings, from cinnabar mine operati...",39990
1,"treatment of sulfidic tailings, from copper mi...",3822,"sulfidic tailings, from copper mine operation","'sulfidic tailings, from copper mine operation...",39990
2,"electricity, high voltage, hydro, run-of-river...",3510,"electricity, high voltage",This product represents electrical energy meas...,17100
3,"market for haying, by rotary tedder",0161,"haying, by rotary tedder","This is delivering the service of 'haying, by ...",86119
4,"treatment of sewage sludge, 70% water, WWT, WW...",3821,"sewage sludge, 70% water, WWT, WW from plywood...","'sewage sludge, 70% water, WWT, WW from plywoo...",39920

In [7]:
test_df = LCIA_df.copy()

test_df = test_df.head()

test_df["CPC code"] = ""

In [8]:
from utils.lcia.match import find_products_for_companies

find_products_for_companies(test_df)

Company description: treatment of sulfidic tailings, from cinnabar mine operation, tailings impoundment
Product description: sulfidic tailings, from cinnabar mine operation
['11', '12', '13', '14', '15', '16', '17', '18']
['141', '142']
['1421', '1422', '1423', '1424', '1429']
['14240']
14240: Precious metal ores and concentrates

Company description: treatment of sulfidic tailings, from copper mine operation, tailings impoundment
Product description: sulfidic tailings, from copper mine operation
['41', '42', '43', '44', '45', '46', '47', '48', '49']
['411', '412', '413', '414', '415', '416']
['4141', '4142', '4143', '4144']
['41411', '41412', '41413']
41411: Copper mattes; cement copper

Company description: electricity, high voltage, hydro, run-of-river, import from France
Product description: electricity, high voltage
['41', '42', '43', '44', '45', '46', '47', '48', '49']
['461', '462', '463', '464', '465', '469']
['4621', '4622']
['46211', '46212', '46213', '46214', '46215']
46211: Electrical apparatus for switching or protecting electrical circuits, or for making connexions to or in electrical circuits, for a voltage exceeding 1000 V

Company description: market for haying, by rotary tedder
Product description: haying, by rotary tedder
['21', '22', '23', '24', '25', '26', '27', '28', '29']
['231', '232', '233', '234', '235', '236', '237', '239']
['2331', '2332']
['23311', '23319']
23319: Preparations used in animal feeding n.e.c.

Company description: treatment of sewage sludge, 70% water, WWT, WW from plywood production, municipal incineration
Product description: sewage sludge, 70% water, WWT, WW from plywood production
['11', '12', '13', '14', '15', '16', '17', '18']
['180']
['1800']
['18000']
18000: Natural water

In [9]:
test_df

,Company description,ISIC code,Product name,Product description,CPC code
0,"treatment of sulfidic tailings, from cinnabar ...",3822,"sulfidic tailings, from cinnabar mine operation","'sulfidic tailings, from cinnabar mine operati...",14240
1,"treatment of sulfidic tailings, from copper mi...",3822,"sulfidic tailings, from copper mine operation","'sulfidic tailings, from copper mine operation...",41411
2,"electricity, high voltage, hydro, run-of-river...",3510,"electricity, high voltage",This product represents electrical energy meas...,46211
3,"market for haying, by rotary tedder",0161,"haying, by rotary tedder","This is delivering the service of 'haying, by ...",23319
4,"treatment of sewage sludge, 70% water, WWT, WW...",3821,"sewage sludge, 70% water, WWT, WW from plywood...","'sewage sludge, 70% water, WWT, WW from plywoo...",18000